/* تحديد أسلوب العناصر النشطة في الشريط الجانبي */
.active {
  background: #0077ff;
  color: white;
}

/* تعريف تأثير الانهيار للشريط الجانبي */
.sideBarAnimation {
  animation: sideBarAnimation .3s forwards;
}

/* تعريف تأثير الانهيار للشريط الجانبي للشاشات الكبيرة (أكبر من 1200 بكسل) */
@media (min-width: 1200px) {
  @keyframes sideBarAnimation {
    0% {
      width: 200px;
    }
    100% {
      width: 80px;
    }
  }

  /* تعريف تأثير الفتح للشريط الجانبي للشاشات الكبيرة */
  .sideBarAnimationR {
    animation: sideBarAnimationR .3s forwards;
  }

  @keyframes sideBarAnimationR {
    0% {
      width: 80px;
    }
    100% {
      width: 200px;
    }
  }
}

/* تعديل التأثيرات للشاشات الصغيرة (أقل من 1200 بكسل) */
/* @media (max-width: 900px) {
  .sideBarAnimation { 
    animation: sideBarAnimation .3s forwards ;
  }

  @keyframes sideBarAnimation {
    0%{
      height: 180px;
    }
    100%{
      height: 50px;
    }
  }

  .sideBarAnimationR {
    width: 100%;
    animation: sideBarAnimationR .3s forwards ;
  }

  @keyframes sideBarAnimationR {
    0% {
      height: 50px;
    }
    100% {
      height: 180px;
    }
  }
} */
